.requestor.chat-card {
	font-style: normal;
	font-size: 12px;
}

.requestor.chat-card .card-header {
	padding: 3px 0;
	border-top: 2px groove #FFF;
	border-bottom: 2px groove #FFF;
}

.requestor.chat-card .card-header img {
	flex: 0 0 36px;
	margin-right: 5px;
}

.requestor.chat-card .card-header h3 {
	flex: 1;
	margin: 0;
	line-height: 36px;
	font-family: "Modesto Condensed", "Palatino Linotype", serif;
	font-size: 20px;
	font-weight: 700;
	color: #4b4a44;
}

.requestor.chat-card .card-header h3:hover {
	text-shadow: 0 0 8px var(--color-shadow-primary)!important;
}

.requestor.chat-card .card-content {
	margin: 5px 0;
	//style: block;
	font-size: 12px;
}

.requestor.card-card .card-content > * {
	user-select: text;
}

.requestor.chat-card .card-buttons {
	margin: 5px 0;
}

.requestor.chat-card .card-buttons button {
	width: 100%;
    background: rgba(0, 0, 0, 0.1);
    border: 2px groove #eeede0;
    font-size: 12px;
    line-height: 20px;
    height: 24px;
    margin: 2px 0;
}

.requestor.chat-card .card-buttons button:disabled {
	color: var(--color-text-dark-secondary);
	box-shadow: none;
}

.requestor.chat-card .card-footer {
	color: var(--color-text-dark-inactive);
	padding: 3px 0 0;
	border-top: 2px groove #FFF;
}

.requestor.chat-card .card-footer span {
	border-right: 2px groove #FFF;
	font-size: 10px;
	padding: 0 3px 0 3px;
}

.requestor.chat-card .card-footer span:first-child {
	padding-left: 0;
}

.requestor.chat-card .card-footer span:last-child {
	border-right: none;
	padding-right: 0;
}

.requestor.chat-card button label {
	font-size: 50px;
}